In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('songs.csv')
df.head()

   Unnamed: 0        song_name  ...                 played_at   timestamp
0           0  Tumi Je Ki Amar  ...  2022-03-25T18:40:28.954Z  2022-03-25
1           1     Ki Je Jatona  ...  2022-03-25T18:34:53.448Z  2022-03-25
2           2    Bhalo Lage Na  ...  2022-03-25T18:29:56.099Z  2022-03-25
3           3         Infinity  ...  2022-03-25T18:18:48.141Z  2022-03-25

[4 rows x 5 columns]